
@font-face {
   font-family: Neou;
   src: url( font/Neou-Bold.ttf );
}

@font-face {
   font-family: OpenSans;
   src: url( font/OpenSans-Light.ttf );
}

@font-face {
   font-family: Lane;
   src: url( font/Lane.ttf );
}

@font-face {
   font-family: Ubuntu;
   src: url( font/Ubuntu-Regular.ttf );
}

html, body {
   /*font-family: Sans-serif;*/
   /*font-family: Neou;*/
   /*font-family: Lane;*/
   font-family: OpenSans;
   /*font-family: Ubuntu;*/
   margin: 0px;
   padding: 0px;
   height: 100%;
}

.container {
   width: 100%;
   height: 100%;
   padding: 0px;
}

.view {
   height: 100%;
   float: left;
}

.view.left {
   background: #DCDCDC;
   width: 30%;
   overflow-y: scroll;
}

.view.right {
   width: 70%;
   background-color: #182634;
}

#nodeCanvas {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   height: 100%;
   width: 100%;
   display: block;
   font-size: 10px;
   cursor: default;
}

#node-link {
   stroke: rgba(255, 255, 255, 1.0);
   stroke-width: 0.5px;
   fill: none;
}

.node.label {
   fill: #ffffff;
}
