@font-face {
  font-family: Orbitron;
  src: url("font/orbitron-light.otf"); }

html, body {
  font-family: Orbitron;
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-size: 12px; }

ul, li {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

pre {
  font-size: 12px; }

.container {
  width: 100%;
  height: 100%;
  padding: 0px; }

.view {
  height: 100%;
  float: left; }
  .view.left {
    background: #dddddd;
    width: 30%;
    overflow-y: scroll; }
  .view.right {
    width: 70%; }

.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#nodeCanvas {
  height: 100%;
  width: 100%;
  display: block;
  cursor: default;
  font-size: 9px;
  background-color: #182634; }

.node.link {
  stroke-width: 0.5px;
  stroke: rgba(255, 255, 255, 0.8);
  fill: none; }
  .node.link.temp {
    stroke-dasharray: 1px; }

.node.body {
  stroke-width: 0.5px;
  fill: rgba(255, 255, 255, 0.2); }

.node.body.selected {
  fill: rgba(255, 255, 255, 0.3); }

.node.header {
  fill: none; }

.node.header.selected {
  fill: none; }

.node.label {
  fill: white;
  font-size: 5px; }

.node.label.header {
  font-size: 6px; }

.node.connector {
  fill: #182634; }

.node.connector.selected {
  fill: white; }
