<!doctype html>
<html ng-app="flowApp">

<head>
	<meta charset="utf-8">
	<title></title>

	<link rel="stylesheet" href="./css/app.css">

</head>

<body ng-controller="nodeCtrl">



	<button ng-click="generateNode()">Add Node</button>
	<node ng-repeat="n in nodes" node-object="n"></node>

	<svg id="nodeCanvas">
		<g fill="none" stroke-width="1.5" stroke="black">
			<connection ng-repeat="pair in connection" pair="pair"></connection>
		</g>
	</svg>

	<script src="build/app.js"></script>

</body>

</html>
