<!doctype html>
<html ng-app="nodeApp">

<head>
	<meta charset="utf-8">
	<title></title>

	<!-- <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css"> -->
	<link rel="stylesheet" href="./css/app.css">

	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/jquery-ui/jquery-ui.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="build/app.js"></script>

</head>

<body ng-controller="nodeCtrl">

	<div class="container">

		<div class="view left">

			<button ng-click="generateNode()">Add Node</button>
			<br> Nodes
			<pre>{{nodes | json }}</pre>
			<br> Connection
			<pre>{{connection | json }}</pre>

		</div>

		<div class="view right">

			<svg id="nodeCanvas">

				<rect id="control" fill="rgb(204, 222, 241)" width="100%" height="100%"></rect>

				<g handler="#control" svg-pannable svg-zoomable>

					<!-- nodes -->
					<node-box ng-repeat="n in nodes track by n.uuid" node-object="n"></node-box>

					<!-- connections -->
					<g fill="none" stroke-width="1.25" stroke="black">
						<node-link ng-repeat="pair in connection" pair="pair"></node-link>
					</g>

				</g>

			</svg>

		</div>

	</div>

</body>

</html>
