<g xx-sortable>
   <g ng-repeat="io in ioArray track by io.uuid">
      <rect row
         fill="rgba(255, 255, 255, 0.0)"
         x="0"
         ng-attr-x="{{ io.type === 0 ? 0 : width * 0.5 }}"
         ng-attr-y="{{ $index * rowHeight + headerHeight }}"
         ng-attr-width="{{ width * 0.5 }}"
         ng-attr-height="{{ rowHeight }}"
      />

      <text xx-sort-item xx-label="{{ type }}" class="node label"
         ng-attr-x="{{ io.type === 0 ? connWidth + labelSpacing : width - connWidth - labelSpacing }}"
         ng-attr-y="{{ $index * rowHeight + headerHeight + ( rowHeight * 0.5 ) }}"
         ng-attr-text-anchor="{{ io.type === 0 ? 'start' : 'end' }}"
         style="alignment-baseline: middle;">
         {{ io.name }}
      </text>

      <xx-connector></xx-connector>

   </g>
</g>
