<g xx-selectable svg-draggable>

   <rect box
      ng-class=" isSelected ? 'node body selected' : 'node body' "
      x="0" y="0" ng-attr-width="{{ width }}" ng-attr-height="{{ height }}"
   />

   <rect header
      ng-class=" isSelected ? 'node header selected' : 'node header' "
      x="0" y="0" ng-attr-width="{{ width }}" ng-attr-height="{{ headerHeight }}"
   />
   <text xx-label="header" class="node label header"
      ng-attr-x="{{ 2 }}"
      ng-attr-y="{{ headerHeight * 0.5 }}"
      text-anchor="start"
      style="alignment-baseline: middle;">
      {{ nodeObject.name }}
   </text>
   <text order-number class="node label"
      ng-attr-x="{{ width - 2 }}"
      ng-attr-y="{{ headerHeight * 0.5 }}"
      text-anchor="end"
      style="alignment-baseline: middle;">
      {{ nodeObject.order === -1 ? '-' : nodeObject.order }}
   </text>

   <xx-interface type="input"></xx-interface>
   <xx-interface type="output"></xx-interface>

</g>
